body {
    color : blue;
    background-color: bisque;
    height: 100%;
    width: 100%;

}

.imgWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 10%;
}

    

img{
    width: 500px;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    top: 60px;;
}
.welC{
    z-index: 1;
    display: felx;
    flex-direction: column;
    align-content: center;
}
.welC h1{
    font-size: 2.5em;
    
}
h1 + p{
font-size: 1.5em;
}